footer {
    color: var(--font-secondary-color);
    font-size: var(--font-sm-size);
    text-align: right;
    padding: 4rem 0;
}
.footer-content {
    max-width: 32rem;
    margin: 0 auto
}
footer .banner-icons, .footer-text {
    padding: 2.4rem;
}
.footer-icons {
    width: 50%;
    margin: auto;
    justify-content: space-around;
}
.footer-icons a {
    transition: color 250ms ease, transform 250ms ease;
}
.footer-icons a:hover {
    color: rebeccapurple;
    transform: translateY(-10px);
}
.footer-text {
    text-align: center
}
footer span {
    color: gray;
}